/*.messageContainer {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
    display: flex;
    justify-content: flex-end;
}

.sent {
    justify-content: flex-end;
}

.received {
    justify-content: flex-start;
}*/

/*----sent-message---*/
  .messageSubContainer {
      background: #F3F3F3;
      border-radius: 20px;
      padding: 5px 20px;
      color: white;
      display: inline-block;
      max-width: 80%;
  }

.currentNickname {
    padding-right: 10px;
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
}
.whiteText {
    color: white;
}

.currentUserBackground {
    background: #5b17a9;
}

/*----received-message---*/
.otherUserNickname {
    padding-left: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
}

.greyText {
    color: #434343;
}
.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.otherUserBackground {
    background: #F3F3F3;
}

/*--------both--------*/
.messageContent {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    font-family: Helvetica;
    word-wrap: break-word;
}

.messageMainContainer {
    display: flex;
    padding: 0 5%;
    margin-top: 8px;
}

.messageSubContainer {
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
}







