.bg1{
    width: 100%;
}

.wJob {

    margin-top: 300px;
    margin-bottom: 400px;
    animation-name: welcome;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes welcome {
    0%   {opacity: 0%;}
    25%  {opacity: 50%;}
    50%  {opacity: 100%;}
    75%  {opacity: 50%}
    100% {opacity: 0%;}
}
.clique{
    display: inline-flex;
}
.text-bg{
    margin-top: 50%;
    float: left;
    width: 250%;
}

.CV{
    float: right;
    width: 65%;
    margin-right: 0px;
}
.lastadd{
    margin-top: 200px;
}
.lastadd1{
    margin-top: 250px;
}